.CreateTodoButton {
  display: block;
}

.CreateTodoButton input {
  width: 340px;
  margin-left: 1px;
  background-color: transparent;
  border: transparent;
}

.IconCreateTodo {
  position: absolute;
  right: 8px;
  width: 20px;
  height: 20px;
}

.IconCreateTodo:hover {
  color: #4caf50
}